{% for year in include.projects %}
<h2 id="year.year.year">{{ year.year.year }}</h2>
{% for project in year.year.projects %}
<div class="projects mask-{{ year.year.year }} mask-{{project.tag | downcase }} mask-{{project.stat | downcase }}">
    {% capture slug %}{{ project.title | downcase | replace: ' ', '' }}{% endcapture %}
    <div class="thumb" id="{{ slug }}">
        {% capture imgpath %}expertise/{{project.tag | downcase }}-{{ slug }}{% endcapture %}
        {% assign imgfnd = include.images.resources | where: "public_id", imgpath %}
        {% assign imgcnt = imgfnd | size %}

        {% if imgcnt > 0 %}
        {% assign imgfst = imgfnd | first %}
        <img src="{{ imgfst.secure_url }}">
        {% else %}
        <img src="{{ "/images/noimagery.jpg" | relative_url }}">
        {% endif %}
      
    </div>
    <h3>{{ project.title }}</h3>
    <p>{{ project.desc }}</p>
    <ul>
        {% include project-button.html btn="pop" link=project.pop %}
        {% include project-button.html btn="git" link=project.git %}
        {% include project-button.html btn="art" link=project.art %}
        {% include project-button.html btn="yt" link=project.yt %}
        {% include project-button.html btn="doc" link=project.doc %}
        {% include project-button.html btn="comm" link=project.comm %}
        {% include project-button.html btn="down" link=project.down %}
    </ul>
    <pre>{{ project.date }} - {{ project.tag }} - <x class="x-{{ project.stat }}">{{ project.stat }}</x></pre>
</div>
{% endfor %}
{% endfor %}